.hamburger {
    display : block;
    z-index : 3;
    right : 13px;
    top   : 12px;
    width : 42px;
    cursor: pointer;
    text-align: center;
  }

  .hamburger span {
    display : block;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
    margin-bottom: 10%;
  }

  .hamburger span:nth-child(1) {
    top: 10px;
  }

  .hamburger span:nth-child(2) {
    top: 20px;
  }

  .hamburger span:nth-child(3) {
    top: 30px;
  }
  
  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    background :#fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }
  
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    background :#fff;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }
  
  nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #fff;
    background: rgba(0,0,0,0.7);
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
  }
  
  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
  }
  nav.globalMenuSp ul li:hover{
    background :#ddd;
  }
  
  nav.globalMenuSp ul li a {
    display: block;
    color: #fff;
    padding: 0.8em 0;
    text-decoration :none;
  }
  
  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    opacity: 100;
  
  }

* {
    box-sizing: border-box;
    float: none;
	position: static;
 }

img {
	max-width: 100%;
	height: auto;
}

body {
    margin: 0;
    padding: 0;
}

header {
    padding: 15px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    z-index: 9999;
    background-color: rgb(236, 237, 238);
    max-width: 100%;
    box-sizing: border-box;
    font-size: 2%;
    justify-content: space-between;
}


header nav {
    margin: 0 0 0 auto;
}

header ul {
    list-style: none;
    margin: 0;
    display: flex;
}

header li {
    margin: 0 0 0 15px;
    font-size: 14px;
}

.main-visual {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('image/AdobeStock_542540484\ 1.png') top center / cover no-repeat;
}

header  h2 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    color: #fff;
}

header img{
    width: 40%;
    height: auto;
}

.explanation{
    text-align: center;
    height: 250px;
}

.explanation h1{
    padding-top: 20px;
    height: 70px;
    margin-bottom: 50px;
}

.explanation p{
    font-size: 16px;
}

.underline{
    border-bottom: solid 4px #4E65C6;
    text-underline-offset: 2px;
}

.topic{
    background-size: cover;
    justify-content: center;
}

.topic img{
    max-width:1000px ;
    width: 40%;
    /* height: auto; */
}

.topic h1{
    text-align: center;
}

.topic1{
    text-align: center;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.ellipse{
    width: 75%;
    height: 30%;
    border-radius: 50%;
    background-color: #90C0FF;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    box-shadow: 1px 2px 2px gray;
    margin-bottom: 5%;
    font-weight: bold;
}

.ellipse_inner{
    text-align: center;
    line-height: 200%;
    color: white;
    font-size: 16px;
    padding: 15%;
}

.topic1 img{
    width: 58%;
    height: auto;
    object-fit: cover;
}

.topic2{
    text-align: center;
    padding: 10%;
    background-size: cover;
}

.element1{
    background-color: #FFF59E;
    padding: 90px;
    display: flex;
}

.ele1_content{
    width: 60%;
    max-width: 60%;
}

.price_circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #69A7DD;
    box-sizing: border-box;
    margin-right: 10px;
    margin-left: 80px;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    max-height: 400px;
    padding: 1%;
}

.circle_inner{
    text-align: center;
    color: white;
    font-size: 40px;
    padding-bottom: 0.2%;
}

.money2{
    text-align: center;
    color: white;
    font-size: 12px;
}

.element2{
    display: flex;
    background-color: #749BCB;
    padding: 90px;
}

.element2 img{
    width: 15%;
    height: auto;
    margin: 0 auto;
    min-width: 100px;
    min-height: 100px;
    max-width: 200px;
}

.ele2_content{
    color: white;
    margin: 0 auto;
}

.element3{
    margin: 0;
    display: flex;
    background-color: #FFF59E;
    padding: 90px;
}

.element3 h2{
    margin-left: 0;
}

.element3 img{
    margin:0 auto;
    width: 40%;
    height: auto;
    min-width: 200px;
    min-height: 200px;
    max-width: 600px;
}

.topic3{
    padding: 10%;
    text-align: center;
}

.element4{
    padding: 100px;
    background-color: #749BCB;
    display: flex;
    margin-bottom: 30px;
}

.element4 img {
    width: 50%;
    height: auto;
    margin: auto;
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
    min-width: 200px;
}

.ele4_content{
    margin-left: 0;
    color: white;
}

.ele4_content_2{
    margin-bottom: 10px;
    width: 60%;
}

.element4 p{
    font-size: 16px;
}

.topic4{
    text-align: center;
    padding: 12%;
}

.element5{
    color: white;
    margin :20px auto;
    text-align: center;
}

.element5 img{
    width: 100%;
    height: auto;
}

.total{
    display: flex;
}

.student{
    width: 40%;
    background-color: #90C5E4;
    margin: 0 auto;
    display:inline-block; /* 重要 */
    letter-spacing:normal; /* やや重要 */
    padding-bottom: 100px;
}

.student h2{
    background-color: #4E65C6;
    margin: 0;
    padding: 10px;
}

.student_ellipse{
    width: 80vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #4E65C6;
    box-sizing: border-box;
    position: relative;
    margin: 10% auto;
    max-width: 400px;
}

.teacher{
    width: 40%;
    background-color: #87BBAF;
    margin: 0 auto;
    display:inline-block; /* 重要 */
    letter-spacing:normal; /* やや重要 */
    padding-bottom: 100px;
}

.teacher h2 {
    background-color: #2E855E;
    margin: 0;
    padding: 10px;
}


.teacher_ellipse{
    width: 80vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #2E855E;
    box-sizing: border-box;
    position: relative;
    margin: 10% auto;
    max-width: 400px;
}

.ellipse_inner2{
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 140%;
}

.ele5_content{
    line-height: 30px;
    margin-bottom: 10px;
}

.download{
    text-align: center;
}

.qrcode{
    display: flex;
    width: 80%;
    height: auto;
    text-align: center;
    margin-bottom: 100px;
    margin: 0 auto;
}

.iphone{
    margin: 0 auto;
}

.google_play{
    margin: 0 auto;
}

#play_content{
    margin: 10px;
}

.footer04 {
    color: #808080;
    background: #e5e5e5;
    text-align: center;
    padding: 30px;
   }

.footer04 a {
    color: #808080;
    text-decoration: none;
   }

.footer04 a:hover {
    text-decoration: underline;
   }

.footer04 .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }

.footer04 .menu li {
    margin: 0;
    padding: 0 20px;
    border-right: 1px #808080 solid;
   }

.footer04 .menu li:last-child {
    border: none;
   }

.footer04 .copyright {
    margin: 0;
    padding: 20px 0 0 0;
   }

   .yazi{
    text-align: center;
   }



   
   @media only screen and (max-width: 599px) {

    
    .footer04 .menu {
     justify-content: flex-start;
    }

    .footer04 .menu li {
     width: 50%;
     box-sizing: border-box;
     border: none;
    }

    .footer04 .menu li:nth-child(odd) {
     border-right: 1px #808080 solid;
    }
    }






    @media screen and (max-width: 1261px){

        .ellipse_inner{
            padding: 8%;
        }


        .ele2_content{
            max-width: 620px;
        }
    }

    @media screen and (max-width: 1132px){
        
        .element2{
            flex-wrap: wrap-reverse;
            justify-content: space-around;
            margin: 0 auto;
            padding: 5%;
        }

        .element2 img{
            margin-top: 10%;
            width: 45%;
        }
    }

    @media screen and (max-width: 1110px){

        .ele2_content{
            max-width: 620px;
            margin: auto;
        }

        .element3{
            flex-wrap: wrap;
            justify-content: center;
            padding: 5%;
        }

        .element4{
            flex-wrap: wrap;
            justify-content: center;
            padding: 5%;
        }

        .element4 img{
            width: 95%;
        }

        .ele4_content{
            margin: 0 auto;
        }

        .ele4_content_2{
            width: 100%;
        }
    }

   @media screen and (max-width: 1024px){

    .topic{
        padding-left: 0;
    }

    .ele2_content{
        min-width: 230px;
    }

    .student_ellipse{
        width: 40vw;
        height: 20vw;
    }

    .teacher_ellipse{
        width: 40vw;
        height: 20vw;
    }

    .ele5_content{
        font-size: 16px;
    }

    .download{
        margin-bottom: 10%;
    }

    #disappear{
        display: none;
    }
   }
   
   @media screen and (max-width:890px){
    .topic1{
        display: block;
    }

    .element1{
        flex-wrap: wrap;
        justify-content: center;
        padding: 5%;
    }

    .ellipse{
        width: 70%;
    }

    .ellipse_inner{
        padding: 10%;
    }

    .ele1_content{
        height: auto;
        margin: 0 auto;
        width: 90%;
        max-width: initial;
    }

    .price_circle{
        margin-top: 30px;
    }

    .element4 img{
        margin-top: 5%;
    }

    .element5{
        flex-wrap: wrap;
    }


    .ellipse_inner2{
        width: 80%;
        margin-bottom: 10%;
        padding: 7%;
    }
   }

   @media screen and (max-width:769px){


    .total{
        flex-wrap: wrap;
    }

    .student{
        width: 100%;
    }

    .student_ellipse{
        width: 80vw;
        height: 15vh;
    }

    .teacher{
        width: 100%;
    }

    .teacher_ellipse{
        width: 80vw;
        height: 15vh;
    }

    .qrcode{
        flex-wrap: wrap;
    }

    .google_play{
        margin-top: 10%;
    }
   }



   @media screen and (max-width:450px){

    .topic{
        font-size: 16px;
    }

    .element2 img{
        margin-top: 5%;
    }

   }